<div class="row">
  <div class="col-8 offset-2 mt-5 card">
    <h3 class="m-4">Sign up Form</h3>
    <div class="row">
      <div class="col">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="bi bi-person"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="bi bi-envelope"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Email"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="bi bi-lock"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Password"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1"
            ><i class="bi bi-lock-fill"></i
          ></span>
          <input
            type="text"
            class="form-control"
            placeholder="Repeat your Password"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01"
            ><i class="bi bi-person-check"></i
          ></label>
          <select class="form-select" id="inputGroupSelect01">
            <option selected>Select Role</option>
            <option value="1">User</option>
            <option value="0">Admin</option>
            <option value="2">Editor</option>
          </select>
        </div>

        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1">I agree to all statements in <a href="">Terms of Service</a></label
          >
        </div>
        <div class="input-group mb-3"><button type="submit" class="btn btn-primary" style="width: 30em;">Register</button></div>
     
        <a routerLink="login">I am already a member</a>
      </div>

      <div class="col">
        <img src="/signup.jpg" alt="" />
      </div>

    </div>
  </div>
</div>
